body {
    font-size: 12pt;
    font-family: "Comic Sans MS", 'Marker Felt', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: darkgrey;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 0.5em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
   }
h3 {
   font-size: 120%;
   color: maroon;
   font-weight: bold;
   margin-top: 1.3em;
   margin-bottom: 0.5em;
  }
td.strike {
  text-decoration-line: line-through;
  }
div.spiral {
    background-image: url("images/spiral.png");
    background-repeat: repeat-y;
    }
div.page {
    position: relative;
    background-color: ivory;
    margin-left: 70px;
    padding: 1px 50px 50px 50px;
    width: 1000px;
    box-shadow: 10px 10px 5px grey;
}
table {
    width 100%;
}
table, th, td {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    padding: 15px;
}
tr  {vertical-align: top
}
td.first {
    width: 20%;
}
img.i300 {
    width: 300px;
    height: auto;
    margin: 0 0 20 20;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
a:link {
    color: blue;
    text-decoration: none;
    }
a:visited {
    color: green;
    text-decoration: none;
    }
a:hover {
    color: red;
    text-decoration: none;
    }
a:active {
    color: hotpink;
    text-decoration: none;
    }
p.copyright {
    float: left;
    font-size:70%
    }
